<ui:composition 
	template="/WEB-INF/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:o="http://omnifaces.org/ui">

	<ui:define name="titulo">#{cadastroCategoriaBean.editando ? 'Edição de categoria' : 'Nova categoria'}</ui:define>
	<f:metadata>
		<o:viewParam name="categoria"
			value="#{cadastroCategoriaBean.categoria}" />
	</f:metadata>
	<ui:define name="corpo">
		<f:metadata>
			<o:viewParam name="produto" value="#{cadastroProdutoBean.produto}" />
			<f:event listener="#{cadastroProdutoBean.inicializar}"
				type="preRenderView" />
		</f:metadata>

		<h:form>
			<h1>#{cadastroCategoriaBean.editando ? 'Edição de categoria' : 'Nova categoria'}</h1>

			<p:messages autoUpdate="true" closable="true" />

			<p:toolbar style="margin-top: 20px">
				<p:toolbarGroup>
					<p:button value="Novo" outcome="/categorias/CadastroCategoria" />
					<p:commandButton value="Salvar" id="botaoSalvar"
						action="#{cadastroCategoriaBean.salva()}" update="@form" />
				</p:toolbarGroup>
				<p:toolbarGroup align="right">
					<p:button value="Pesquisa" outcome="/categorias/PesquisaCategorias" />
				</p:toolbarGroup>
			</p:toolbar>

			<p:panelGrid columns="2" id="painel"
				style="width: 100%; margin-top: 20px" columnClasses="rotulo, campo">


				<p:outputLabel value="Categoria" for="descricao"/>
				<p:inputText id="descricao" value="#{cadastroCategoriaBean.categoria.descricao}" />

			</p:panelGrid>
		</h:form>
	</ui:define>
</ui:composition>